# Ignore virtual environment
venv/
.venv/

# Ignore Python compiled files
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore logs
utility/logger/logs
*.log
*.txt

# Ignore environment variables
.env
.env.*

# Ignore database files
*.sqlite3

# Ignore IDE and system files
.idea/
.vscode/
.DS_Store
